<section class="my-8">
  <h2 class="text-center m-5 text-3xl font-comic">Activitats relacionades amb Sabor de Valls</h2>
  <div class="space-y-8">
    <div class="flex flex-col md:flex-row items-center justify-center p-5 rounded-lg shadow-lg bg-blue-200">
      <div class="w-full md:w-1/2 p-4">
        <h3 class="text-center mb-2 text-xl font-bold">Un Concurs Amb Aroma de Cirera</h3>
        <p class="text-gray-700"><span class="text-primary">Vall de Gallinera</span>, joia d'Alacant, s'engalana aquesta temporada amb un esdeveniment sense precedents. Sota l'ombra rosada dels cirerers en flor, el concurs de cuina "Sabors de la Vall" pretén catapultar la regió com a destinació de turisme gastronòmic de referència, on esperem que puges gaudir de la nostra Vall.</p>
      </div>
      <figure class="w-full md:w-1/2">
        <img src="./assets/images/historia/pep_girasol.webp" alt="Concurs de cuina a la Vall de Gallinera" class="rounded-lg shadow">
        <figcaption class="text-center bg-white p-2 text-secondary">Foto per Arnau Panís</figcaption>
      </figure>
    </div>
    <div class="flex flex-col md:flex-row-reverse items-center justify-center bg-green-200 p-5 rounded-lg shadow-lg  text-white ">
      <div class="w-full md:w-1/2 p-4">
        <h3 class="text-center mb-2 text-xl font-bold">Activitats Per a Tots els Públics</h3>
        <p class="text-gray-700">Per als més aventurers, l'excursió des de la <span class="text-primary">Vall de la Gallinera</span> fins a la Safor serà una odissea de paisatges i històries. Aquells amb esperit més cultural gaudiran d'obres de teatre al carrer, mentre que per als més menuts s'organitzaran tallers culinaris i jocs que els descobriran els secrets dels nostres arrels.</p>
      </div>
      <figure class="w-full md:w-1/2">
        <img src="./assets/images/historia/CirerersVallGallinera.webp" alt="Floració dels Cirerers" class="rounded-lg shadow">
        <figcaption class="text-center bg-white p-2 text-secondary">Foto per Laia Soler</figcaption>
      </figure>
    </div>
    <div class="flex flex-col md:flex-row items-center justify-center  text-white  bg-purple-200 p-5 rounded-lg shadow-lg">
      <div class="w-full md:w-1/2 p-4">
        <h3 class="text-center mb-2 text-xl font-bold">La Foradada: Un Viatge al Cor de la <span class="text-primary">Vall</span></h3>
        <p class="text-gray-700">Una de les joies de l'esdeveniment és la visita guiada a La Foradada. Aquesta activitat no només oferirà vistes panoràmiques espectaculars, sinó també una càpsula del temps que narrarà la història de la <span class="text-primary">Vall</span> des dels seus primers pobladors, on els diferents narradors i narradores conten la historia de la Vall.</p>
      </div>
      <figure class="w-full md:w-1/2">
        <img src="./assets/images/historia/foradada.webp" alt="Vista de La Foradada" class="rounded-lg shadow">
        <figcaption class="text-center bg-white p-2 text-secondary">Foto per Marc García</figcaption>
      </figure>
    </div>
  </div>
</section>








