<section class="my-8 p-5 ">
  <div class="text-center m-3">
    <h2 class="mb-5 text-3xl font-comic">
      <span class="animate-arcoiris1 delay-0">Gran </span>
      <span class="animate-arcoiris2 delay-25">Concurs </span>
      <span class="animate-arcoiris3 delay-50">de </span>
      <span class="animate-arcoiris4 delay-75">la </span>
      <span class="animate-arcoiris5 delay-100">Vall </span>
      <span class="animate-arcoiris6 delay-125">de </span>
      <span class="animate-arcoiris7 delay-150">Sabors </span>
      <span class="animate-arcoiris8 delay-175">!</span>
    </h2>
      
    
  </div>
  <div class="space-y-4">
    <p class="text-gray-700 mb-3">Benvinguts i benvingudes a una nova edició de "Sabor de la Vall" en la Vall de la Gallinera!</p>
    <p class="text-gray-700 mb-4">Aquest concurs de reposteria de nou reunirà als nostres cuiners novels, on tant xiquets i xiquetes com adults poden guanyar el premi.</p>
    <blockquote class="italic   pl-4 text-orange-400 mb-3 text-2xl font-comic">Com va dir la xef <cite class="font-bold">Gessami Caramesà</cite>:</blockquote>
    <blockquote class="italic text-4xl border-l-4 border-primary pl-4 bg-gray-300 mb-5 font-extralight font-timi">"Hi ha molta gent que té por de la part dolça de la cuina, deixaràs que la por et venci?"</blockquote>
    <p class="text-gray-700 mb-5">Els jutges avaluaran la creativitat, el sabor i la presentació dels postres. El guanyador s'emportarà el títol de "Mestre Pastisser de la Vall"!</p>
  </div>
</section>

