
  <section class=" text-center p-8">
    <h3 class="premis__titol mb-2 flex justify-center items-center text-2xl md:text-4xl lg:text-6xl">
      <span class="premis__titol--lletra">E</span><!--
      --><span class="premis__titol--lletra">l</span><!--
      --><span class="premis__titol--lletra">s   </span><!--
      --><span class="premis__titol--lletra">&nbsp&nbsp</span><!--
      --><span class="premis__titol--lletra">n</span><!--
      --><span class="premis__titol--lletra">o</span><!--
      --><span class="premis__titol--lletra">s</span><!--
      --><span class="premis__titol--lletra">t</span><!--
      --><span class="premis__titol--lletra">r</span><!--
      --><span class="premis__titol--lletra">e</span><!--
      --><span class="premis__titol--lletra">s</span><!--
      --><span class="premis__titol--lletra">&nbsp&nbsp</span><!--
      --><span class="premis__titol--lletra">p</span><!--
      --><span class="premis__titol--lletra">r</span><!--
      --><span class="premis__titol--lletra">e</span><!--
      --><span class="premis__titol--lletra">m</span><!--
      --><span class="premis__titol--lletra">i</span><!--
      --><span class="premis__titol--lletra">s</span>
    </h3>

    <div class="trofeus-container flex flex-col tablet:flex-row  gap-8 justify-center mt-8 bg-gray-200 p-4">
      <div class="mx-auto w-90% tablet:w-30% flex flex-col items-center bg-secondary text-white p-4 rounded-xl transition-transform transform hover:scale-105 cursor-pointer">
        <img class="trofeus-container__individual--imatge max-w-full h-auto" src="./assets/images/home/Premi1.webp" alt="Button image description">
        <h3 class="mt-2 text-xl">Premi per als adults</h3>
        <p class="trofeus__description text-center mt-2">Aquest premi reconeix al millor pastiser en la categoria adulta.</p>
      </div>
      <div class=" mx-auto  w-90% tablet:w-30%    flex flex-col items-center bg-secondary text-white p-4 rounded-xl transition-transform transform hover:scale-105 cursor-pointer">
        <img class="trofeus-container__individual--imatge max-w-full h-auto" src="./assets/images/home/Premi2.webp" alt="Button image description">
        <h3 class="mt-2 text-xl">Premi al producte local</h3>
        <p class="trofeus__description text-center mt-2">Celebrant els millors productes de la nostra terra, aquest premi impulsa la utilització dels productes locals.</p>
      </div>
      <div class="mx-auto  w-90% tablet:w-30%    flex flex-col items-center bg-secondary text-white p-4 rounded-xl transition-transform transform hover:scale-105 cursor-pointer">
        <img class="trofeus-container__individual--imatge max-w-full h-auto" src="./assets/images/home/Premi3.webp" alt="Button image description">
        <h3 class="mt-2 text-xl">Premi cirereta</h3>
        <p class="trofeus__description text-center mt-2">Dirigit als joves talents, aquest premi busca inspirar i motivar a les noves generacions a l'art de la reposteria.</p>
      </div>
    </div>
  </section>

