<section class="my-8 p-5 ">
  <div class="text-center mb-5">
    <h2 class="text-4xl font-comic text-slate-950">
      Planifica el teu viatge
      <span class="ml-2 text-2xl text-white bg-brand-green px-3 py-1  rounded-xl">Nou</span>
    </h2>
  </div>
  <ul class="grid grid-cols-1 tablet:grid-cols-2 desktop:grid-cols-4 gap-4 justify-center">
    <li class="7vw mx-6 flex flex-col items-center p-10 bg-white rounded-2xl shadow-md transform transition duration-500 hover:scale-110 hover:bg-highlight">
      <i class="fa fa-3x fa-utensils text-brand-orange mb-4"></i>
      <span class="font-body text-lg font-semibold">On menjar</span>
    </li>
    <li class="7vw mx-6 flex flex-col items-center p-10 bg-white rounded-2xl shadow-md transform transition duration-500 hover:scale-110 hover:bg-highlight">
      <i class="fa fa-3x fa-bed text-brand-orange mb-4"></i>
      <span class="font-body text-lg font-semibold">On dormir</span>
    </li>
    <li class="7vw mx-6 flex flex-col items-center p-10 bg-white rounded-2xl shadow-md transform transition duration-500 hover:scale-110 hover:bg-highlight">
      <i class="fa fa-3x fa-hiking text-brand-orange mb-4"></i>
      <span class="font-body text-lg font-semibold">Què fer</span>
    </li>
    <li class="7vw mx-6 flex flex-col items-center p-10 bg-white rounded-2xl shadow-md transform transition duration-500 hover:scale-110 hover:bg-highlight">
      <i class="fa fa-3x fa-map-marker-alt text-brand-orange mb-4"></i>
      <span class="font-body text-lg font-semibold">Com arribar</span>
    </li>
  </ul>
</section>

