<header class="w-full">
  <div class="border-b-4 border-blue-700 py-2  p-8 mx-36 flex flex-col tablet:flex-row justify-between items-center  px-6 md:px-24 ">
    <div class="flex-shrink-0">
      <a href="./index.html">
        <img src="./assets/images/logo.png" class="h-[9vh] w-auto" alt="Logo">
      </a>
    </div>
    <nav class="flex flex-col tablet:flex-row justify-between items-center w-full md:w-auto">
      <a href="./index.html" class="mx-4 hover:text-red-900  inline-block py-2 px-3 text-white text-lg hover:border-b-4 hover:border-red-700 transition-all">Inici</a>
      <a target="_blank" href="paginaIA.html" class="mx-4 hover:text-blue-500 text-white hover:border-blue-500 historia-link hover:border-b-4">Pàgina IA</a>
      <a href="historia.html" class="mx-4 hover:text-green-500 inline-block py-2 px-3 text-white text-lg hover:border-b-4 hover:border-green-700 transition-all">Informació</a>
      <a href="VallGallinera.html" class="mx-4 hover:text-purple-500 inline-block py-2 px-3 text-white text-lg hover:border-b-4 hover:border-purple-700 transition-all">Vall de Gallinera</a>
    </nav>
  </div>
</header>