<section class=" container mx-auto py-6">
  <h2 class="my-6 text-center text-4xl font-comic hover:text-green-400 hover:scale-110">Els pobles de <span >la Vall de Gallinera</span></h2>
  <div class="py-5  grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <!-- Benirrama -->
    <include src="./views/Vall/poblesCards/benirrama.html"></include>
    <!-- Benialí -->
    <include src="./views/Vall/poblesCards/beniali.html"></include>
    <!-- Benitaia -->
    <include src="./views/Vall/poblesCards/benitaia.html"></include>
    <!-- La Carroja -->
    <include src="./views/Vall/poblesCards/carroja.html"></include>
    <!-- Alpatró -->
    <include src="./views/Vall/poblesCards/alpatro.html"></include>
    <!-- Llombai -->
    <include src="./views/Vall/poblesCards/llombai.html"></include>
    <!-- Benissili  -->
    <include src="./views/Vall/poblesCards/benissiili.html"></include>
    
  </div>
</section>

