<section class="container ">
  <div >
    <p><span >La Vall de Gallinera</span> se prepara per a les seves festes anuals, i com a preludi, arriba el tradicional Concurs de <span class="PostresSpan">Postres</span>, un esdeveniment que posa en valor la dolça gastronomia local i la passió dels seus habitants per la cuina.</p>
    <p class="my-6 animate-deEsquerraADreta text-center"> Un recorregut per la <span >Vall</span> a través de cada <span class="PostresSpan">postre</span> </p>
    <p class="mb-5">En aquesta ocasió, el concurs es desenvolupa al llarg de diversos pobles de la <span >Vall</span>, on cada participant presenta la seva creació en una prova específica. A continuació, descobrim els guanyadors de les últimes edicions i els seus deliciosos <span class="PostresSpan">postres</span>:</p>
  </div>
  <!-- Tabla premiats-->

    <div class="my-16  justify-center text-center  ">
      <div class="overflow-x-auto justify-center text-center m-auto" >
        <table class="w-5/6  border-gray-950 m-auto">
          <thead class=" border-gray-950">
            <tr class=" text-white border bg-secondary border-gray-950">
              <th class=" border-black">Any</th>
              <th class=" border-black">Premiat</th>
              <th class=" border-black">Postre</th>
            </tr>
          </thead>
          <tbody class=" border-gray-950 text-left">
            <tr class="bg-violet-500 ">
              <td class="p-3 ">2021</td>
              <td class="p-3 ">Aina Idèfix</td>
              <td class="p-3 ">Pastís de cireres de la <span >Vall</span></td>
            </tr>
            <tr class="bg-gray-light-500 border-gray-950  text-left">
              <td  class="p-3 ">2022</td>
              <td  class="p-3 ">Reme Casselles</td>
              <td  class="p-3 ">Pastís de Cireres i maduixes</td>
            </tr>
            <tr class="bg-green-light-500 border-gray-950  text-left">
              <td  class="p-3">2023</td>
              <td  class="p-3">Salvador Feliu</td>
              <td  class="p-3">Pastís de l'armonia</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

</section>
