<div class="rounded-2xl shadow-lg overflow-hidden">
  <div class="bg-white">
    <img src="./assets/images/pobles/AlpatróR.png" class="w-full h-48 object-cover" alt="Alpatró">
    <div class="p-4">
      <h5 class="text-xl font-heading text-center mb-2"><span class="hover:text-brand-orange font-comic">Alpatró</span></h5>
      <p class="text-gray-700">Un poble menut amb carrers empedrats , perfecte per a una escapada tranquila i bonica.</p>
    </div>
    <include src="./views/Vall/poblesCards/xarxes.html"></include>
  </div>
</div>