<div class="rounded-2xl shadow-lg overflow-hidden">
  <div class="bg-white">
    <img src="./assets/images/pobles/benissil.jpg" class="w-full h-48 object-cover" alt="Benissili">
    <div class="p-4">
      <h5 class="text-xl font-heading text-center mb-2"><span class="hover:text-brand-orange font-comic">Benissili</span></h5>
      <p class="text-gray-700">L’últim poble de la ruta, on podràs trobar la font de Benissili i gaudir de l’autenticitat i la bellesa natural de la <span class="VallGallineraSpan">Vall</span>.</p>
    </div>
    <include src="./views/Vall/poblesCards/xarxes.html"></include>
  </div>
</div>